html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0px;
  padding: 0px;
}
.fa-bars{
  color: black;
}
nav ul li {
  display: block;
  text-align: center;
  padding: 5%;
  color: white;
  font-size: 30px;
  background: linear-gradient(transparent,#337566);
}
ul li:hover{
  color: #efe76e;
}
ul a#hamburger{
  background-color: #eef2f1;
  text-align: center;
  padding: 10%;
  width: 30%;
  text-decoration: none;
  position: absolute;
  top: 1%;
  right: -30%;
  z-index: 2;
}
.mainnav {
  width: 15%;
  left: -15%;
  height: 100%;
  background: #193d35;
  position: fixed;
  z-index: 1;
  transition: left ease-out 250ms;
}
.mainnav.open{
  left: 0%;
}

/*Main Section*/
.blueheader{
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: #333240;
  background-size: cover;
  font-size: 50px;
  color: white;
  font-family: 'Cinzel', serif;
  text-align: center;
  position: relative;
}
.flag{
  width: 100%;
}
.flagcontainer {
  width: 20%;
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
}
.title{
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 20%;
  background-color: #333240;
  margin-top: 2%;
  font-size: 60%;
}
.maincontainer{
  width: 100%;
  background-color: black;
  text-align: center;
}
.landimgcontainer{
  width: 100%;
  background-image: url(img/42.png);
  background-size: cover;
  padding: 30%;
}
.button {
  font-size: 40px;
  width: 40%;
  background-color: #4a262a;
  padding: 3%;
  margin-left: -50%;
  margin-bottom: -40%;
  border: 10px double;
  border-color: #d0c7a6;
}
.button a{
  text-decoration: none;
  color: White;
}
.button a:hover{
  color: #d0c7a6;
}
/*Content Section*/
.divder{
  margin-top: 0px;
  background-color: #d0c7a6;
  width: 100%;
  padding: 2%;
}
.firstcontent{
  display: flex;
  flex-flow: row;
  width: 100%;
}
.sidebar{
  width:30%;
  background-color: #4a262a;
  position: relative;
}
.sidebartxt{
  margin-top: 15%;
  padding: 15%;
  color: white;
  font-size: 30px;
  white-space: normal;
  overflow:inherit;
  text-align: center;
}
.sidebarcontainer {
  width: 100%;
}
.kid{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.content{
  width:70%;
  margin-bottom: 20%;
  padding: 4% 5%;
  font-size: 40px;
}
/*Green Section*/

.green {
  width: 100%;
  background-color: #4c6b62;
  background-image: url(img/55.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  opacity: 95%;
  padding: 10%;
  text-align: center;
}
.whitetext{
  background-color: white;
  font-size: 30px;
  text-align: center;
  padding: 10%;
}
/*White Section*/
.whitesection {
  width: 100%;
  padding: 10% 0%;
  text-align: center;
}
.imgcontainer{
  text-align: center;
}
.imgcontainer img {
  display: inline;
  clear: both;
  padding: 2%;
}
.lastcontent{
  text-align: center;
  font-size: 40px;
  padding: 10%;
}

/*Footer Section*/
.footer {
  width: 100%;
  background-color: #333240;
  padding: 3%;
  text-align: center;
}
ul li {
  display: inline-block;
  color: white;
  font-size: 40px;
  padding: 0% 3%;
}
